[submodule "LovyanGFX"]
	path = LovyanGFX
	url = https://github.com/Lovyan03/LovyanGFX
[submodule "remo-api"]
	path = remo-api
	url = https://github.com/ciniml/remo-api
[submodule "lgfx-rs"]
	path = lgfx-rs
	url = https://github.com/ciniml/lgfx-rs
[submodule "embedded-io"]
	path = embedded-io
	url = https://github.com/ciniml/embedded-io
[submodule "esp-idf-svc"]
	path = esp-idf-svc
	url = https://github.com/esp-rs/esp-idf-svc
